body {
    background-image: url('https://cdn-www.bluestacks.com/bs-images/Banner_com.garena.game_.codm_.jpg');
    background-size: cover;
}
.countainer {
    width: 720px ;
    height: 1280px ;
    background-color: black;
    border-left: 23px solid white;
    border-radius: 50px 0px 0px 0px  ;
    position: relative;
    top: 250px ;
    left: 100px ;
    
    
}
.box1{
    width: 600px ;
    height: 100px ;
    border: 8px solid darkorchid;
    border-radius: 50px 50px 50px 50px ;
    position: relative;
    bottom: 800px ;
    left: 10px ;
    color: darkorchid;
    font-size: 70px ;
   
}
.box2{
    width: 600px ;
    height: 100px ;
    border: 8px solid red;
    border-radius: 70px  ;
    position: relative;
    bottom:600px  ;
    left: 80px ;
    color: red;
    font-size: 70px ;

}
img{
    position: relative;
    top: 5px ;
    border-radius:100px 0px 0px 0px  ;
}
i {
    /* font-size: 100px ; */

}